html {
    padding: 10px;
    background-color: #888;
}

ul {
    list-style-type: none;
}

/*css for index.html*/
.nav-bar{
  /*border:3px #555 solid;*/    
  border-top: outset #555 2px;
      border-bottom: outset #555 2px;
    border-left: outset #555 2px;
    border-right: outset #555 2px;   
}
.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav-bar li {
    float: left;
}
.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-bar li a:hover {
    background-color: #CA8144;

}

.nav-bar ul li:last-of-type{
    float: right;
}

#logoutLink {
    float: right;
}

.active {
    background-color: #222;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../images/dw4-over.png) no-repeat center center;
    background-size: cover;

}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

/*.intro-message h1 {
    margin: 0;
    text-shadow: 2px 2px 3px black;
    font-size: 7em;
}*/

.intro-divider {
    width: 60% ;
    border-top: 1px solid white;
    border-bottom: 1px solid #6A6476;
}

.intro-message h3{
    font-size: 1.5em;
    text-shadow: 2px 2px 3px black;
}

.profileLinks li{
    padding-bottom: 3px;
}

.profileLinks a{
    opacity: 0.9;
}

.profileLinks a:hover{
    background-color: #CA8144;
    opacity: 0.65   ;
}